<div class="intro intro-single route bg-image" style="background-image: url(img/overlay-bg.jpg); height: 90px;">
    <div class="overlay-mf"></div>
</div>
<!--/ Intro Skew End /-->
<!--/ Section Portfolio Star /-->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Proje
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="/Work/Details/@item.Id">
                            <div class="work-img">
                                <img src="~/img/@item.ThumbnailUrl" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2 class="w-title text-center">@item.Name</h2>
                                        <div class="d-flex justify-content-between w-more">
                                            <span class="w-ctegory">@item.Title</span>
                                            <span class="w-date">@item.Time</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--/ Section Portfolio End /-->
<br />
<br />
<br />
<br />
<br />
<br />